---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.nav__list .nav__items {
  margin: 0;
  font-size: 0.5rem;

  a {
    color: inherit;
  }

  .active {
    margin-inline-start: -0.5em;
    padding-inline: 0.5em;
    font-weight: bold;
  }
}

.toc__menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: $type-size-3;

  @include breakpoint($large) {
    font-size: $type-size-7;
  }

  a {
    display: block;
    padding: 0.25rem 0.75rem;
    color: $muted-text-color;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid $border-color;

    &:hover {
      color: $text-color;
    }
  }

  li ul > li a {
    padding-inline-start: 1.25rem;
    font-weight: normal;
  }

  li ul li ul > li a {
    padding-inline-start: 1.75rem;
  }

  li ul li ul li ul > li a {
    padding-inline-start: 2.25rem;
  }

  li ul li ul li ul li ul > li a {
    padding-inline-start: 2.75rem;
  }

  li ul li ul li ul li ul li ul > li a {
    padding-inline-start: 3.25rem;
  }
}
